{% extends "base.html.twig" %}

{% block main %}
	<section class="home">
		<div class="formule1BackgroundColor0175">
			<a href="#">
				<img src="{{ asset('assets/images/logos/formule1.png') }}" alt="Formule 1">
			</a>
		</div>
		<div class="indycarBackgroundColor0175">
			<a href="#">
				<img src="{{ asset('assets/images/logos/indycar.png') }}" alt="Indycar">
			</a>
		</div>
		<div class="wecBackgroundColor0175">
			<a href="#">
				<img src="{{ asset('assets/images/logos/wec.png') }}" alt="WEC">
			</a>
		</div>
		<div class="wrcBackgroundColor0175">
			<a href="#">
				<img src="{{ asset('assets/images/logos/wrc.png') }}" alt="WRC">
			</a>
		</div>
	</section>
{% endblock %}
