{% extends "base.html.twig" %}

{% block main %}
	<section class="home">
		{% for category in categories %}
			<div class="{{ "#{category.nameUrl}BackgroundColor0175" }}">
				<a href="{{ path("app_home_category", {"category": category.nameUrl}) }}">
					<img src="{{ asset("assets/images/logos/#{category.nameUrl}.png") }}" alt="{{ category.name }}">
				</a>
			</div>
		{% endfor %}
	</section>
{% endblock %}
