{% extends "base.html.twig" %}

{% block header %}
	{% include "admin/layouts/navBar.html.twig" %}
{% endblock %}

{% block main %}
	<section class="admin">
		<h1>Bienvenue l'interface administrateur !</h1>
		<p>Pour ajouter ou éditer des informations, cliquez sur la catégories désirée</p>
	</section>
{% endblock %}
